* {
  font-family: 'Playfair Display', serif;
}

#main {
  background:
  /* top, transparent black, faked with gradient */ 
  linear-gradient(
    rgba(133, 96, 96, 0.4), 
    rgba(0, 0, 0, 0.4)
  ),
  /* bottom, image */
  url('../img/winter.jpg');  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 75vh;
}