* {
  font-family: "Poppins", sans-serif;
}

.btn-primary {
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
}

.btn-primary:hover {
  background-color: white;
  color: black;
  border: 1px solid #6c63ff;
}

.btn-primary:active {
  background-color: #6c63ff;
  color: white;
  border: 1px solid #6c63ff;
}

.bg-primary {
  background-color: #6c63ff !important;
}

.text-primary {
  color: #6c63ff !important;
}
